@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color-blue: #2757E6;
  --primary-color-green: #6BBE55;
  --secondary-color-black: #171717;
  --secondary-color-white: #FBFCFF;
  --secondary-color-gray: #97989B;
}

body {
  margin: 0;
  padding: 0;
}

@layer components {
  .btn {
      @apply flex gap-2 items-center justify-center py-2 px-4 font-semibold shadow-md rounded-lg;
  }

  .btn.btn-light {
      @apply bg-white text-gray-500;
  }

  .btn.btn-success {
      @apply text-white bg-green-600 shadow-green-400/10
  }
}