@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color-blue: #2757e6;
  --primary-color-green: #6bbe55;
  --secondary-color-black: #171717;
  --secondary-color-white: #fbfcff;
  --secondary-color-gray: #97989b;
}

html,
body {
  margin: 0;
  padding: 0;
}

.grid-rows-layout {
  grid-template-rows: auto 1fr;
}
.grid-cols-layout {
  grid-template-columns: 20rem 1fr;
}

.delete-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.minimal-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

.filter-white {
  filter: invert(5%) sepia(6%) saturate(24%) hue-rotate(358deg) brightness(98%)
    contrast(91%);
  transition: filter 300ms;
}

.link:hover .filter-white {
  filter: invert(44%) sepia(90%) saturate(7131%) hue-rotate(225deg)
    brightness(95%) contrast(89%);
  transition: filter 300ms;
}

.username:hover {
  color: var(--primary-color-blue);
}


.arrow {
  width: 0.5rem;
  height: 0.5rem;
  box-sizing: border-box;
  transform: rotate(135deg);
}

.arrow::before {
  content: "";
  width: 100%;
  height: 100%;
  border-width: 0.209vmin 0.209vmin 0 0;
  border-style: solid;
  border-color: var(--secondary-color-black);
  transition: 0.2s ease;
  display: block;
  transform-origin: 100% 0;
}

.arrow::after {
  content: "";
  float: left;
  position: relative;
  top: -100%;
  width: 100%;
  height: 100%;
  border-width: 0 0.209vmin 0 0;
  border-style: solid;
  border-color: var(--secondary-color-black);
  transform-origin: 100% 0;
  transition: 0.2s ease;
}
